#loader(style="display: none")
	.inner
		#text-loader
			img(src="./assets/img/technischesHilfswerk.svg" draggable="false")
		#spinner
			img#rad.rotation(src="./assets/img/zahnrad.svg" draggable="false")
			img#thwLetter(src="./assets/img/thwBuchstaben.svg" draggable="false")
