nav
	img#logo(src="./assets/img/taktischeUhrLogo.svg" draggable="false")
	#menu
		#menu-links
			img#logoTHW(src="./assets/img/rstLogo.svg")
			a(href="./?inapp")
				span Netzwerkverbindung 
				img(src="./assets/img/icons/wifi/wi-fi_1.svg" draggable="false")
			a(href="./anzeige.html?inapp")
				span Anzeige 
				img(src="./assets/img/icons/display.svg" draggable="false")
			a(href="./luk?inapp")
				span LUK Modus 
				img(src="./assets/img/icons/siren.svg" draggable="false")
			a(href="./hilfe.html?inapp")
				span Anleitung und Hilfe 
				img(src="./assets/img/icons/help.svg" draggable="false")
			a(href="./information.html?inapp")
				span Informationen
				img(src="./assets/img/icons/info.svg" draggable="false")

		img#menu-ham.menu-icon.display(src="./assets/img/icons/ham.svg" draggable="false")
		img#menu-cancel.menu-icon(src="./assets/img/icons/cancel.svg" draggable="false")

#menu-background.hide